.timer {
  height: 100%;
  background: url('../../../../../assets/images/mountains.jpg');
  background-size: cover;

  &__start {
    color: #fff;
    width: 60px;
    height: 60px;
    background-color: #4e6b8c;
    border-radius: 50%;
  }
}
